/ First Band (Slider)
#strapper{:"data-stellar-background-ratio"=>"0.6"}
  .row
    .large-12.columns.index-callout-box
      %h1.big_title.pacifico
        things to-do in cities you love!
%hr/
/ Three-up Content Blocks
.row
  .large-4.columns
    %h4 Find to-dos.
    %p Check out curated list of things to-do for popular cities and events all around the world
  .large-4.columns
    %h4 Create to-dos.
    %p Creating your own to-do lists is easy. Share your local knowledge and expertise about the best places to see, eat, and have fun.
  .large-4.columns
    %h4 Join to-dos.
    %p We're social and so are you. Share and collaborate in group to-do lists. Check your progress against other list participants and add your own to-dos to their lists
/ Call to Action Panel
.row
  .large-12.columns
    .panel
      %h4 Get in touch!
      .row
        .large-9.columns
          %p We'd love to hear from you, you attractive person you.
        .large-3.columns
          %a.radius.button.right{:href => "#"} Contact Us