.row.closed{:style=>"margin-top:2em;"}
  .large-12.columns.todo-element
    .row
      .large-10.columns
        = best_in_place_if current_user_todo_author?(todo), todo, :description
      -if can? :destroy, todo.completes.where(:user_id => current_user).first
        .large-1.columns.toggle
          =link_to uncomplete_todo_path(todo), :method=> :delete, :remote => true, :data=>{:status=>"open", :todo=>todo.id} do
            %span{:data => {:icon => '%'}}
      -else
        .large-2.columns
      -if can? :destroy, todo
        .large-1.columns
          =link_to todo, :method => :delete, :data => { :confirm => 'Are you sure?' } do
            %span{:data => {:icon => '('}}
      -else
        .large-2.columns
    .row
      .large-2.columns
        -if (todo.author_id != todo.project.user)
          by: #{raw link_to todo.author.name, user_path(todo.author)}
      .large-1.columns
        vote
      .large-1.columns
        comment
      .large-1.columns
        -if signed_in? && !current_user_project_owner?
          #liker
            -if todo.likes.where(:user_id => current_user.id).first
              =link_to '#', :alt=>"unlike", :class=> "like", :data=>{:status=>"unlike", :"model-class"=>"todo", :"model-id" => todo.id} do
                %span{:data => {:icon => ','}, :class=>'big-icons'}
            -else
              =link_to '#', :alt=>"like", :class=> "like", :data=>{:status=>"like", :"model-class"=>"todo", :"model-id" => todo.id} do
                %span{:data => {:icon => '+'}, :class=>'big-icons'}
      .large-offset-7.columns