.row.todo-element.opened
  .small-8.large-10.columns.index-column-element.cen
    %p
      = best_in_place_if current_user_todo_author?(todo), todo, :description
    %p.by-line
      -if (todo.author_id != todo.project.user)
        by: #{raw link_to todo.author.name, user_path(todo.author)}

  -if can? :create, todo.completes.build
    .small-2.large-1.columns.index-column-element.cen.toggle
      %p
        = link_to complete_todo_path(todo), :method=> :post, :remote => true, :data=>{:status=>"close", :todo=>todo.id} do
          %span{:data => {:icon => '@'}}
  -else
    .large-2.columns.index-column-element
  -if can? :destroy, todo
    .small-2.large-1.columns.index-column-element.cen
      %p
        =link_to todo, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %span{:data => {:icon => '('}}
  -else
    .large-2.columns.index-column-element
