.row
  #todo-elements-container
    - if !@open.nil?
      .opened-container
        -@open.each do |todo|
          =render :partial=>'projects/todo', :locals => {:todo => todo, :open=> "true"}

    -if !@closed.nil?
      .closed-container
        -@closed.each do |todo|
          =render :partial=>'projects/todo', :locals => {:todo => todo, :open=>"false"}
