.row.collapse
  -if can? :create, @todo
    -if !params[:id].blank?
      = simple_form_for([@project, @todo], :remote => true, :html => {:'data-type' => 'script'})  do |f|
        = f.input :project_id, :as=> :hidden, :value => @project.id
        .large-11.columns
          = f.input :description, :as=> :string, :label => false, placeholder: 'Describe your to-do'
        .large-1.columns
          = f.button :submit, :class=>"button expand postfix", :value=>"add!"

- if !@open.nil?
  .row
    .large-12.columns.opened-container
      - @open.each do |todo|
        =render :partial=>'projects/opened', :locals => {:todo => todo}


-if !@closed.nil?
  .row
    .large-12.columns.closed-container
      - @closed.each do |todo|
        =render :partial=>'projects/closed', :locals => {:todo => todo}
