.row
  .large-12.columns
    %h1
      -if can? :create, Project
        =link_to 'Create new city to-do list', new_project_path
      -else
        To-do list

.large-12.columns
  -@projects.each do |project|
    .row
      .large-4.columns.index-column-element= link_to project.name, project_todos_path(project)
      .large-2.columns.index-column-element= project.location
      -if can? :update, Project
        .large-3.columns.index-column-element= link_to 'Edit', edit_project_path(project)
        .large-3.columns.index-column-element= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }
      -else
        .large-6.columns.index-column-element
