.row
  .large-12.columns{:style=>"margin-bottom:10px;"}
    -ActsAsTaggableOn::Tag.all.each do |t|
      %span.metro.three-d
        =link_to t, tag_path(t.name)

.row
  .large-12.columns
    -if params[:action] == "joined"
      %h1="joined lists"
    -elsif params[:action] == "owner"
      %h1="my lists"
    -elsif params[:city]
      %h1="#{@location.split(',')[0]} to-do lists"

.row
  .large-12.columns
    -#%ul.project-list
    -#  -@projects.each do |p|
    -#    %li{:data => {'tooltip' => true}, :class=>"has-tip", :title=>p.name}
    -#      = link_to image_tag(city_image(p, '320x200#')), project_path(p), :class=>"th"
    =render :partial => "projects/card"


