-#%span{:class=>"has-tip", :data=>{:tooltip=>"true", :width=>"210"}, :title=>"Bottom and the default position."}
-#  tip-bottom
#project-header{:style=>"background-image:URL(#{city_image(@project, '1400x600#')});"}
  -unless params[:id].blank?
    .row
      .large-12-columns.right
        =social_share_button_tag(@project.name)
    .row
      .large-12.columns
        %ul.wee-nav-list.left
          -if signed_in? && current_user_project_owner?
            %li
              =link_to edit_user_project_path(current_user) do
                %span{:data=>{:icon=>"5"}, :class=>'big-icons'}
          -if signed_in? && !current_user_project_owner?
            %li
              -if current_user.participations.find_by_project_id(@project).nil?
                =link_to '#', :alt=>"join", :id=> "participation", :data=>{:status=>"join", :project => @project.id} do
                  %span{:data => {:icon => 'N'}, :class=>'big-icons'}
              -else
                =link_to '#', :alt=>"leave", :id=> "participation", :data=>{:status=>"leave", :project=> @project.id} do
                  %span{:data => {:icon => 'O'}, :class=>'big-icons'}
          -if signed_in? && !current_user_project_owner?
            %li
              -if @project.likes.where(:user_id => current_user.id).first
                =link_to '#', :alt=>"unlike", :id=> "like", :data=>{:status=>"unlike", :"model-class"=>@project.class.to_s.downcase, :"model-id" => @project.id} do
                  %span{:data => {:icon => ','}, :class=>'big-icons'}
              -else
                =link_to '#', :alt=>"like", :id=> "like", :data=>{:status=>"like", :"model-class"=>@project.class.to_s.downcase, :"model-id" => @project.id} do
                  %span{:data => {:icon => '+'}, :class=>'big-icons'}


    .row
      .large-8.columns
        .row
          .large-12.columns
            %h1.project-home-headers.text-shadow
              =best_in_place_if current_user_project_owner?, @project, :name
        .row
          .large-12.columns
            %h3.project-home-headers.text-shadow
              by:
              =link_to @project.user.name, user_path(@project.user)
        .row
          .large-12.columns
            %h2.project-home-headers.text-shadow="#{@project.try(:location) ? @project.location.city : ''}"
        .row
          .large-12.columns
            -@project.tag_list.each do |t|
              %span.metro.three-d
                =t
      .large-4.columns
        .row
          %h1.project-home-headers.percentage
            100%

    .row
      .large-12.columns.todo-description
        =best_in_place_if current_user_project_owner?, @project, :description

.row
  .large-12.columns.index-column-element

#todo-list-partial
  =render :partial =>"todo-list"
.row
  .large-12.columns{:style=>"height:3em;"}
