-#%span{:class=>"has-tip", :data=>{:tooltip=>"true", :width=>"210"}, :title=>"Bottom and the default position."}
-#  tip-bottom
#project-header{:style=>"background-image:URL(#{city_image(@project, '1600x400#')});height:400px"}
  -unless params[:id].blank?
    .row
      .large-12-columns.right
        =social_share_button_tag(@project.name)
    .row.transparent-bg-project#opacity-10{:style=>"margin-top:5px"}
      .large-3.columns
        %ul.wee-nav-list.left
          -if can? :update, @project
            %li
              =link_to edit_user_project_path(current_user) do
                %span{:data=>{:icon=>"5"}, :class=>'big-icons'}
          -if signed_in? && !current_user_project_owner?
            %li
              -if current_user.participations.find_by_project_id(@project).nil?
                =link_to '#', :alt=>"join", :id=> "participation", :data=>{:status=>"join", :project => @project.id} do
                  %span{:data => {:icon => 'N'}, :class=>'big-icons'}
                    follow
              -else
                =link_to '#', :alt=>"leave", :id=> "participation", :data=>{:status=>"leave", :project=> @project.id} do
                  %span{:data => {:icon => 'O'}, :class=>'big-icons'}
                    unfollow
    .row.transparent-bg-project#opacity-10
      .large-8.columns
        .row
          .large-12.columns
            %h1.project-home-headers.text-shadow
              =best_in_place_if current_user_project_owner?, @project, :name
        .row
          .large-12.columns
            %h2.project-home-headers.text-shadow="#{@project.try(:location) ? @project.location.city : ''}"

      .large-4.columns
        .row
          %h1.project-home-headers.percentage
            ="#{@complete.percent_of(@total).to_i}% done"
    .row
      .large-12.columns
        %ul.block-grid
          -@project.users.each do |u|
            %li
              =u.name


    #todo-form
      =render :partial => 'todo-form'

.row
  .large-12.columns

#todo-list-partial
  =render :partial =>"todo-list"
.row
  .large-12.columns{:style=>"height:3em;"}
