/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require social-share-button
 *= require_tree .
*/

@import "compass/css3/border-radius";
@import "compass/css3";
@import "foundation/variables", "foundation/components/global", "foundation/components/inline-lists";

.project-thumbs {
  height: 150px;
  min-height: 150px;
  overflow:auto;
}


.todo-description{
  font-family: pacificoregular;
  font-size: 1.2em;
  background-color: rgba(255, 13, 11, 0.18);
  min-height: 50px;
  padding: 10px;
}


#new_todo {
  height: 2em;
  font-size: 2em;
}

.by-line{
  margin-top: 10px;
  font-size: 0.7em;
}

form div input.upload {position: absolute; width:10px; visibility: hidden;}


.project-image{
  background-size:100%;
  height:200px;
  width:300px;
}

.transparent-bg-project{
  width: auto;
  height: auto;
}


#opacity-10 {
  background: rgb(54, 25, 25);
  background: rgba(54, 25, 25, .5);
}


.big-icons{
  font-size: 2em;
  padding-bottom: 5px;
}

.todo-icons{
  margin-top: 5px;
  font-size: 1em;
}

.right {
  float: right;
}

.left {
  float:left;
}

.wee-nav-list{
@include inline-list;
}

.blur {
  filter: blur(5px);
  // Browser Specific
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.pacifico {
  font-family: pacificoregular;
}

.project-home-headers {
  font-family: JOSEFIN_SANSTHIN;
  color: #ffffff;
}

.percentage {
  font-size: 4em;
}

.text-shadow{
  text-shadow: 0 4px 8px rgba(0,0,0,0.88);
}

#border-radius {
  @include border-radius(10px);
  font-size: 0.7em;
}

.cen {
  min-height:1em;
  width:12em;
  margin:1em 0;
}
.cen p {
  display:inline-block;
  vertical-align:middle;
  margin:0 0 0 1em;
  width:100%;
}
.cen::after {
  display:inline-block;
  vertical-align:middle;
  line-height:1em;
  width:0;
  content:"\00A0";
  overflow:hidden;
}

.big_title {
color: #fff;
text-shadow: 0 2px 6px rgba(0,0,0,0.88);
font-size: 3.72em;
line-height: 1.12em;
margin-bottom: 20px;
letter-spacing: -1px;
}

.small_title {
color: #fff;
text-shadow: 0 2px 6px rgba(0,0,0,0.88);
font-size: 1.5em;
line-height: 1em;
margin-bottom: 20px;
margin-left: 3px;
letter-spacing: -1px;
position:relative;
top:-75px;
}

.index-callout-box {
  padding-top: 150px;
  text-align: center;
}

#strapper {
  background-image: URL("/assets/barcelona.jpg");
  height:300px;
}


.index-column-element {
  min-height: 1em;
}

.todo-element{

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:10px solid white;
  //min-height: 150px;
  //min-width: 90px;
  //margin: 5px;
  font-size: 1.2em;
}

.opened{
  background-color: rgba(255, 13, 11, 0.18);
}

.closed {
  background-color: #d5ffdf;
}

.todo-description {

}

.row.projects.list{
  background-color: #d5ffdf;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 1em;
  font-family: arial;
}

.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
