/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

//$base-font-size: 100% !default;
//
//
//$em-base: 16px !default;
//
//@function emCalc($pxWidth) {
//  @return $pxWidth / $em-base * 1em;
//}
//
//@import 'foundation';


//.left .search .button { float:left; width:50px; margin-left:5px;}
//.search input {width:200px;float:left;top:5px;}
//.search form {float:left !important; width:450px !important;}

.index-column-element {
  min-height: 15px;
}


.row.todo-element.opened{
  border-width: 1px;
  border-color: rgba(224, 13, 11, 0.33);
  background-color: rgba(255, 13, 11, 0.18);
  border-style: solid;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 13pt;
}

.row.todo-element.closed{
  border-width: 1px;
  border-color: #3edaaf;
  background-color: #d5ffdf;
  border-style: solid;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 13pt;
}

.todo-description {
  min-height: 200px;
  background-color: #fffaf0;
  padding: 20px;
}



.row.projects.list{
  border-width: 1px;
  border-color: #3edaaf;
  background-color: #d5ffdf;
  border-style: solid;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 13pt;
}


.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}
