.metro {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: rgba(0, 0, 0, 0.88);

  /* Font styles */
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.metro:hover { background: #6c6c6c; }

.metro.three-d {
  position: relative;
  box-shadow:
    1px 1px #323232,
    2px 2px #323232,
    3px 3px #323232;
  transition: all 0.1s ease-in;
}

.metro.three-d:active {
  box-shadow: none;
  top: 3px;
  left: 3px;
}