/ Footer
%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright Undoable.
      .large-6.columns
        %ul.inline-list.right
          %li
            %a{:href => "/todos"} todos
          %li
            %a{:href => "/todos"} projects

-#:javascript
-#  document.write('<script src=js/vendor/' +
-#  ('__proto__' in {} ? 'zepto' : 'jquery') +
-#  '.js><\/script>')
-#  %script{:src => "js/foundation.min.js"}
-#:javascript
-#  $(document).foundation();