

/ Footer

#footer.full-width
  .large-4.columns
  .large-8.columns
    %ul.inline-list.right.pacifico
      %li
        = link_to 'todos', root_path
      %li
        = link_to 'cities', root_path
      %li
        = link_to 'about', root_path
      %li
        = link_to 'contact', root_path


-#:javascript
-#  document.write('<script src=js/vendor/' +
-#  ('__proto__' in {} ? 'zepto' : 'jquery') +
-#  '.js><\/script>')
-#  %script{:src => "js/foundation.min.js"}
-#:javascript
-#  $(document).foundation();